.title {
   display: flex;
   align-items: center;
   flex: 1;
   gap: 8px;
   color: var(--brand-secondary);
   margin-bottom: 2rem;
   > span {
      flex: 1;

      font-size: 1.5rem;
      font-weight: 600;
   }

   .main-icon i {
      font-size: 2em;
   }
}
